cd {{ jboss_home }}/bin 
nohup ./domain.sh --host-config=host-master.xml -Djboss.domain.base.dir={{ domains_dir }}/{{ inventory_hostname }} -b {{ public_ip }} -bmanagement={{ public_ip }} 2>&1 > /dev/null & 
sleep 1
