/host={{ item }}/server-config=server-one:stop(blocking=true)
/host={{ item }}/server-config=server-one:remove
/host={{ item }}/server-config=server-two:stop(blocking=true)
/host={{ item }}/server-config=server-two:remove
